<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

        <body>
            <main>
                <h1>Botanical Babe</h1>
                <h2>Here is a list of <%= category %> plants we stock:</h2>
                <ul class="plant-list">
                    <% for(let p of plants) { %>
                        <li class="plant-card">
                            <span class="plant-name">
                                <%= p.name %>
                            </span>
                            <a class="details-link" href="/plants/<%= p._id %>">More details →</a>
                        </li>
                        <% } %>
                </ul>
                <a href="/plants/new">Add a Plant</a>
                <%if(category !=='All' ) {%>
                    <a href="/plants">All Plants</a>
                    <% } %>
            </main>
        </body>

        </html>