<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

        <body>
            <main>
                <section>
                    <div>
                        <h1>
                            Name: <%= plant.name %>
                        </h1>
                        <p>
                            Price: $ <%= plant.price %>
                        </p>
                        <p>
                            Category: <a href="/plants?category=<%= plant.category %>">
                                <%= plant.category %>
                            </a>

                        </p>
                        <p>
                            Water: <%= plant.water %>
                        </p>
                    </div>
                    <div class="actions">
                        <a href="/plants" class="btn btn-secondary">All Plants</a>
                        <a href="/plants/<%= plant._id %>/edit" class="btn btn-primary">Edit</a>

                        <form action="/plants/<%= plant._id %>?_method=DELETE" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>

                </section>
            </main>
        </body>

        </html>